RewriteEngine On

# If the request is not a real file or folder, redirect to index.php (every request goes through index.php first)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]
