<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="assets/css/extend-footer.css" />
  <link rel="stylesheet" href="assets/css/global.css" />
</head>

<footer>
  <section class="footer-container">
    <div class="link">
      <div class="left">
        <h1>Bouw3D</h1>
        <div class="adress">
          <p>Hogeschoollaan 1, 4818 CR Breda</p>
          <p>Lokaal HA519</p>
          <p>Netherlands</p>
        </div>
        <div class="info-footer">
          <!--added div so p and a align column-->
          <div class="column-div">
            <p>Phone number</p>
            <a href="#">+31 6 12345678</a>
          </div>
          <div class="column-div">
            <p>Email</p>
            <a href="#">support@bouw3d.nl</a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="quick-link">
          <p class="footer-title">Quick Links</p>
          <a href="#">Pricing</a>
          <a href="#">Resources</a>
          <a href="#">About us</a>
          <a href="#">FAQ</a>
          <a href="#">Contact us</a>
        </div>
        <div class="social">
          <p class="footer-title">Socials</p>
          <a href="#" target="_blank">Instagram</a>
          <a href="#" target="_blank">LinkedIn</a>
          <a href="#" target="_blank">Facebook</a>
          <a href="#" target="_blank">Twitter</a>
          <a href="#" target="_blank">YouTube</a>
        </div>
        <div class="legal">
          <p class="footer-title">Legal</p>
          <a href="#">Terms of service</a>
          <a href="#">Privacy policy</a>
          <a href="#">Cookie policy</a>
        </div>
      </div>
    </div>
    <div class="footnote">
      <p>&copy; 2024 Bouw3D. All rights reserved.</p>
    </div>
  </section>
</footer>
