   :root {
       --color-accent-orange: #FF6600;

       --color-main-light-gray: #6E6E6E;

       --color-header-footer-dark-blue: #1A237E;

   }

   .accent-color {
       color: var(--color-accent-orange);
   }

   .bg-light{
    background-color: var(--color-main-light-gray);
   }


