   :root {
       --color-accent-orange: #FF6600;

       --color-main-light-gray: #d3d3d3;

       --color-main-dark-gray: #6E6E6E;

       --color-header-footer-dark-blue: #1A237E;

   }

   .accent-color {
       color: var(--color-accent-orange);
   }

   .bg-light {
    background-color: var(--color-main-light-gray);
   }

   .bg-dark {
       background-color: var(--color-main-dark-gray);
   }

   .p-1 {
       padding: 1em;
       /* Alway 1x root-font-size, root-font-size is 16px unless the user changes it in the settings. */
   }

   .m-1 {
    margin: 1em;
   }

   body {
       margin: 0px;
   }