/* Important! change font to global.css when available*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital@0;1&display=swap");

.font-styling {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*-----------Hero section---------*/

.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/index-images/EOS\ M\ 290.webp);
  background-position: center 35%;
  .hero-content,
  .hero-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 1rem;
    border-radius: 10px;
    .btn {
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 2rem;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/*------------------example section-------------------*/
.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .title {
    font-weight: 700;
    color: var(--color-accent-orange);
  }
  .example-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      li {
        font-size: 2.5rem;
        padding: 10px; /* change padding */
      }
      .list-item.selected {
        background-color: var(--color-accent-orange);
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
    }
    .content {
      flex: 1;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }
      figure figcaption {
        display: none;
      }
    }
    .content-item {
      display: none;
      flex-direction: column;
    }
  }
}

/*-----------------awards section---------------------------*/

.award {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
  }
}

/*-----------------media---------------------------*/
@media (min-width: 768px) {
  .example .example-list {
    flex-direction: row;
    .select-example {
      width: 20%;
    }
  }

  /* Awards layout */

  .award {
    flex-direction: row;
    text-align: left;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    img {
      width: 40%;
    }
    div {
      flex: 1;
      padding: 0 1rem;
    }
  }
}
